<?xml version='1.0' encoding='utf-8'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
    <Product Name='$(var.si_name) $(var.si_version)' Id='*' UpgradeCode='92891133-407C-43FE-874C-D28945F58DEE'
        Language='1033' Codepage='1252' Version='$(var.si_version4)' Manufacturer='$(var.si_company_name)'>

        <Package Id='*' Keywords='Installer' Description="$(var.si_description)"
            Comments='$(var.si_copyright)' Manufacturer='$(var.si_company_name)'
            InstallerVersion='100' Languages='1033' Compressed='yes' SummaryCodepage='1252' />

        <Property Id="PREVIOUSVERSIONSINSTALLED" Secure="yes" />
        <Upgrade Id="92891133-407C-43FE-874C-D28945F58DEE">
           <UpgradeVersion
              Minimum="0.0.0.0" Maximum="$(var.si_version4)"
              Property="PREVIOUSVERSIONSINSTALLED"
              IncludeMinimum="yes" IncludeMaximum="yes" />
        </Upgrade>

        <Media Id='1' Cabinet='Sample.cab' EmbedCab='yes' />
        <Directory Id='TARGETDIR' Name='SourceDir'>
            <Directory Id='ProgramFilesFolder'>
                <Directory Id='CompanyDir' Name='$(var.si_company_name)'>
                    <Directory Id='ApplicationDir' Name='$(var.si_name)'>
                        <Directory Id='INSTALLDIR' Name='$(var.si_name) $(var.si_version)'>
                        </Directory>
                    </Directory>
                </Directory>
            </Directory>
            <Directory Id="ProgramMenuFolder">
                <Directory Id="ApplicationProgramsFolder" Name="$(var.si_description)"/>
            </Directory>
        </Directory>

        <DirectoryRef Id='INSTALLDIR'>
            <Component Id='AutoStart' Guid='9027B6C8-9B3B-4DD3-8610-8A72E6B52966'>
                <RegistryValue Root="HKCU" Key="Software\Microsoft\Windows\CurrentVersion\Run"
                    Type="string" Name="$(var.si_name)" Value="[#fil8E862EEB5DA45675FE9A4852DB699AD2]" />
            </Component>
        </DirectoryRef>

        <DirectoryRef Id="ApplicationProgramsFolder">
            <Component Id="ApplicationShortcut" Guid="5FA3ACCF-0B8B-4CDE-A5F8-ED5068C344E2">
                <IniFile Id="UrlShortcutURL" Action="addLine"
                    Directory="ApplicationProgramsFolder" Name="$(var.si_description).url"
                    Section="InternetShortcut" Key="URL" Value="http://localhost:$(var.si_port)/" />
                <IniFile Id="UrlShortcutHotKey" Action="addLine"
                    Directory="ApplicationProgramsFolder" Name="$(var.si_description).url"
                    Section="InternetShortcut" Key="HotKey" Value="0" />
                <IniFile Id="UrlShortcutIconFile" Action="addLine"
                    Directory="ApplicationProgramsFolder" Name="$(var.si_description).url"
                    Section="InternetShortcut" Key="IconFile" Value="[#fil8E862EEB5DA45675FE9A4852DB699AD2]" />
                <IniFile Id="UrlShortcutIconIndex" Action="addLine"
                    Directory="ApplicationProgramsFolder" Name="$(var.si_description).url"
                    Section="InternetShortcut" Key="IconIndex" Value="0" />
                <IniFile Id="UrlShortcutProp3" Action="addLine"
                    Directory="ApplicationProgramsFolder" Name="$(var.si_description).url"
                    Section="{000214A0-0000-0000-C000-000000000046}" Key="Prop3" Value="19,2" />
                <IniFile Id="UrlShortcutIDList" Action="addLine"
                    Directory="ApplicationProgramsFolder" Name="$(var.si_description).url"
                    Section="InternetShortcut" Key="IDList" Value="[~]" />
                <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
                <RegistryValue Root="HKCU" Key="Software\$(var.si_company_name)\$(var.si_name)"
                    Name="installed" Type="integer" Value="1" KeyPath="yes"/>
            </Component>
        </DirectoryRef>

        <Feature Id="Main" Level="1">
            <ComponentGroupRef Id="Files"/>
            <ComponentRef Id="AutoStart" />
            <ComponentRef Id="ApplicationShortcut" />
        </Feature>

        <CustomAction Id="StartProgram" FileKey="fil8E862EEB5DA45675FE9A4852DB699AD2" ExeCommand="" Return="asyncNoWait" />

        <Property Id="QtExecCmdLine" Value='"[WindowsFolder]\System32\taskkill.exe" /F /IM $(var.si_exe).exe'/>
        <CustomAction Id="StopProgram" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="immediate" Return="ignore"/>

        <InstallExecuteSequence>
            <RemoveExistingProducts After="InstallInitialize" />
            <Custom Action="StartProgram" After="InstallFinalize">NOT Installed</Custom>
            <Custom Action='StopProgram' Before='InstallValidate'/>
        </InstallExecuteSequence>

    </Product>
</Wix>
