<?xml version='1.0' encoding='utf-8'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
    <Product Name='$(var.si_name) $(var.si_version)' Id='451A2652-ABF7-49C7-BA98-B0B677442A05' UpgradeCode='92891133-407C-43FE-874C-D28945F58DEE'
        Language='1033' Codepage='1252' Version='$(var.si_version)' Manufacturer='$(var.si_company_name)'>

        <Package Id='*' Keywords='Installer' Description="$(var.si_description)"
            Comments='$(var.si_copyright)' Manufacturer='Acme Ltd.'
            InstallerVersion='100' Languages='1033' Compressed='yes' SummaryCodepage='1252' />

        <Media Id='1' Cabinet='Sample.cab' EmbedCab='yes' />

        <Directory Id='TARGETDIR' Name='SourceDir'>
            <Directory Id='ProgramFilesFolder'>
                <Directory Id='CompanyDir' Name='$(var.si_company_name)'>
                    <Directory Id='ApplicationDir' Name='$(var.si_name)'>
                        <Directory Id='INSTALLDIR' Name='$(var.si_name) $(var.si_version)'>
                        </Directory>
                    </Directory>
                </Directory>
            </Directory>
        </Directory>

        <DirectoryRef Id='INSTALLDIR'>
            <Component Id='AutoStart' Guid='9027B6C8-9B3B-4DD3-8610-8A72E6B52966'>
                <RegistryValue Root="HKCU" Key="Software\Microsoft\Windows\CurrentVersion\Run"
                    Type="string" Name="$(var.si_name)" Value="[#fil2F6F3B293B6DC91B5F66DDC24D5FEE5F]" />
            </Component>
        </DirectoryRef>

        <Feature Id="Main" Level="1">
            <ComponentGroupRef Id="Files"/>
            <ComponentRef Id="AutoStart" />
        </Feature>

        <CustomAction Id="StartProgram" FileKey="fil2F6F3B293B6DC91B5F66DDC24D5FEE5F" ExeCommand="" Return="asyncNoWait" />

        <Property Id="QtExecCmdLine" Value='"[WindowsFolder]\System32\taskkill.exe" /F /IM $(var.si_exe).exe'/>
        <CustomAction Id="StopProgram" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="immediate" Return="ignore"/>

        <InstallExecuteSequence>
            <Custom Action="StartProgram" After="InstallFinalize">NOT Installed</Custom>
            <Custom Action='StopProgram' Before='InstallValidate'/>
        </InstallExecuteSequence>

    </Product>
</Wix>
