/* Chart */

.axis path, .axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

/* Kelly's 22 colors of maximum contrast */
.kelly00 {fill: #FFB300}
.kelly01 {fill: #803E75}
.kelly02 {fill: #FF6800}
.kelly03 {fill: #A6BDD7}
.kelly04 {fill: #C10020}
.kelly05 {fill: #CEA262}
.kelly06 {fill: #817066}
.kelly07 {fill: #007D34}
.kelly08 {fill: #F6768E}
.kelly09 {fill: #00538A}
.kelly10 {fill: #FF7A5C}
.kelly11 {fill: #53377A}
.kelly12 {fill: #FF8E00}
.kelly13 {fill: #B32851}
.kelly14 {fill: #F4C800}
.kelly15 {fill: #7F180D}
.kelly16 {fill: #93AA00}
.kelly17 {fill: #593315}
.kelly18 {fill: #F13A13}
.kelly19 {fill: #232C16}
