/* Font */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat-Regular'), url(/Montserrat-Regular.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

h1, h2, h3, h4, h5, h6 { font-family: 'Montserrat'; }

.header, header {
  background-color: #F13A13;
  color: white;
}

.header a {
  color: inherit;
  text-decoration: none;
}

.header h1 {
  margin: 20px 0;
}

.header h1 img {
  height: 1em;
  vertical-align: top;
  border: 4px solid white;
  margin: -4px 0 -4px -4px;
  box-sizing: content-box;
}

day-summary {
  display: block;
  width: 100%;
  height: 100%;

  position: absolute;
  z-index: -1;
  top:0;
  left:0;
  border-top: 4px solid white;
}

day-summary .bar {
  fill: #FFB300;
}


/* Chart */

.axis path, .axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.dayPercentBar text {
    font-size: smaller;
    kerning: 10%;
    fill: white;
}
day-percentbar, day-timeline {
    display:block;
    width: 100%;
}

/* Kelly's 22 colors of maximum contrast */
.fill00 {fill: #FFB300}
.fill01 {fill: #803E75}
.fill02 {fill: #FF6800}
.fill03 {fill: #A6BDD7}
.fill04 {fill: #C10020}
.fill05 {fill: #CEA262}
.fill06 {fill: #817066}
.fill07 {fill: #007D34}
.fill08 {fill: #F6768E}
.fill09 {fill: #00538A}
.fill10 {fill: #FF7A5C}
.fill11 {fill: #53377A}
.fill12 {fill: #FF8E00}
.fill13 {fill: #B32851}
.fill14 {fill: #F4C800}
.fill15 {fill: #7F180D}
.fill16 {fill: #93AA00}
.fill17 {fill: #593315}
.fill18 {fill: #F13A13}
.fill19 {fill: #232C16}
/* It would be great if I could make these have stripes or something */
.fill20 {fill: #FFB300; fill-opacity: 50%;}
.fill21 {fill: #803E75; fill-opacity: 50%;}
.fill22 {fill: #FF6800; fill-opacity: 50%;}
.fill23 {fill: #A6BDD7; fill-opacity: 50%;}
.fill24 {fill: #C10020; fill-opacity: 50%;}
.fill25 {fill: #CEA262; fill-opacity: 50%;}
.fill26 {fill: #817066; fill-opacity: 50%;}
.fill27 {fill: #007D34; fill-opacity: 50%;}
.fill28 {fill: #F6768E; fill-opacity: 50%;}
.fill29 {fill: #00538A; fill-opacity: 50%;}
.fill30 {fill: #FF7A5C; fill-opacity: 50%;}
.fill31 {fill: #53377A; fill-opacity: 50%;}
.fill32 {fill: #FF8E00; fill-opacity: 50%;}
.fill33 {fill: #B32851; fill-opacity: 50%;}
.fill34 {fill: #F4C800; fill-opacity: 50%;}
.fill35 {fill: #7F180D; fill-opacity: 50%;}
.fill36 {fill: #93AA00; fill-opacity: 50%;}
.fill37 {fill: #593315; fill-opacity: 50%;}
.fill38 {fill: #F13A13; fill-opacity: 50%;}
.fill39 {fill: #232C16; fill-opacity: 50%;}

/* Force vertical scrollbar */
html { overflow-y: scroll; }
